body {
    background-color: rgb(13, 9, 37);
}
.title {
    text-align: center;
    color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    padding-top: 25px;
    padding-bottom: 15px;
    grid-area: t;
}

p {
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 0.75fr 0.25fr 0.25fr;
    grid-template-areas: 
    "t t t t"
    "d d b b"
    "v v v v"
    "l l g g"
    "c c c c";
    
    gap: 15px;
    
}
h2 {
    color: antiquewhite;
    text-align: center;
    padding: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.video {
    grid-area: v;   
}
.bio {
    grid-area: b;
    text-align: center;
    padding-right: 45px;
}
.linkdein {
    grid-area: l;
}
.github {
    grid-area: g;
}
.email {
    grid-area: c;
}
.diya {
    grid-area: d;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}