body {
    background-color: rgb(13, 9, 37);
}
.title {
    text-align: center;
    color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    padding-top: 25px;
    padding-bottom: 15px;
    grid-area: t;
}

p {
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    padding: 10px;
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 0.75fr 0.25fr 0.25fr;
    grid-template-areas: 
    "t t"
    "d b"
    "v v"
    "l g"
    "c c";
    
    gap: 15px;
    
}
h2 {
    color: antiquewhite;
    text-align: center;
    padding: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.video {
    grid-area: v;   
}
.bio {
    grid-area: b;
    text-align: center;
    padding-right: 45px;
}
.linkdein {
    grid-area: l;
}
.github {
    grid-area: g;
}
.email {
    grid-area: c;
}
.diya {
    grid-area: d;
}
.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr 2fr;
    grid-template-areas: 
    "a b c"
    "d e f"
    "g h i"
    "j k l";
    
    gap: 10px;
    justify-content: center;
}
.pacman-heading {
    grid-area: a;
}
.eye-heading {
    grid-area: b;
}
.bus-heading {
    grid-area: c;
}
.pacman-image {
    grid-area: d;
}
.eye-image {
    grid-area: e;
}
.bus-image {
    grid-area: f;
}
.pacman-link {
    grid-area: g;
    text-align: center;
}
.eye-link {
    grid-area: h;
    text-align: center;
}
.bus-link {
    grid-area: i;
    text-align: center;
}
.pacman-description {
    grid-area: j;
}
.eye-description {
    grid-area: k;
}
.bus-description {
    grid-area: l;
}